# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm
.yarn-integrity

# Рантайм / окружение / логи
.env
.env.local
*.log

# Покрытие тестами
coverage/

# macOS / IDE
.DS_Store
.idea/
.vscode/
